:root {
  --color1: #F1E932;
  --color2: #323133;
}

.busqueda{
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  background-color: var(--color1);
}

.Logo {
  position: absolute;
  width: 120px;
  height: 60px;
}
.input-container {
  margin: 0 auto;
}
.input_buscar{
  display: block;
  width: 220px;
  font-size: 17px;
  color: var(--color2);
  text-align: center; 
  line-height: 1.5;
  background-color: #f0eaea;
  padding: 2px 24px 2px 24px;
  margin: 4px;
  border: 2px solid var(--color2);
  border-radius: 14px;
  box-shadow: 2px 2px 5px #aaa;
  transition: .8s;
}
.input_buscar::placeholder {
    color: #5b5a5c;
}
.input_buscar:hover {
    border-color: #5b5a5c;
    background-color: #f7f7f7;
    border: 2px solid #686769;
    box-shadow: 0 0 10px #8b8a8a;
  }
.input_buscar:focus {
    color: #f0eaea;
    background-color: #afaeaf;
    border-color: var(--color1);
    box-shadow: 0 0 10px #5c5c5c;
    border: 2px solid #f0eaea;
}
.input_buscar:focus::placeholder {
    color: #f0eaea;
}
/* Carrito de compras */
.carrito{
  position: relative;
}
.carrito-boton {
  top: 20px; 
  padding: 15px;
  background-color: var(--color1);
  border: none;
  cursor: pointer;
  transition: .6s ease;
  border-radius: 100em;
}

.carrito-boton:hover {
  background-color: var(--color2);
  border-radius: 100em;
  box-shadow: 0 0 0 3px #686769;
  
}
button.carrito-boton:hover .icono_carrito {
  color: var(--color1) !important;
}
.carrito-desplegado {
  position: absolute; 
  top: 60px;
  right: 20px; 
  background-color: rgba(219, 219, 219, 0.873);
  border: 2px solid var(--color2);
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
  z-index: 1000;
  width: 300px;
  max-height: 600px;
  overflow-y: auto; 
}
.carrito-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: auto;
}
.carrito-desplegado ul {
  list-style-type: none;
  padding: 0;
}
.carrito-desplegado li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.carrito-desplegado button {
  background-color: var(--color1);
  color: var(--color2);
  border: 2px solid var(--color2);
  border-radius: 8px;
  padding: 4px 10px;
  cursor: pointer;
  transition: .6s ease;
}

.carrito-desplegado button:hover {
  background-color: var(--color2);
  color: var(--color1);
  border: 2px solid var(--color1);
  box-shadow: 0 0 0 3px var(--color2);
  transform: scale(.8);
}

/* Cartas de productos */
.product-list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px; 
  padding: 0; 
  list-style: none; 
}

.product-list li {
  flex: 1 1 calc(25% - 32px); 
  box-sizing: border-box;
  margin: 19px; 
  max-width: 201px; 
}

/* Carta del producto */
.product-card {
  border: 4px solid var(--color1);
  background-color: #ece67f;
  padding: 0 10px 10px 10px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.product-card-content p, h2{
  color: var(--color2);
}
.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding-bottom: 10px; 
}
.boton_producto{
  background-color: var(--color1);
  color: var(--color2);
  border: 2px solid var(--color2);
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  transition: 0.6s ease;
}
.boton_producto:hover, .editar:hover{
  background-color: var(--color2);
  color: var(--color1);
  border: 2px solid var(--color1);  
  transform: scale(1.06);
  box-shadow: 0 0 0 3px var(--color2);
  font-weight: bold;
}
.editar{
  background-color: var(--color1);
  color: var(--color2);
  border: 2px solid var(--color2);
  border-radius: 4rem;
  cursor: pointer;
  transition: 0.6s ease;
}