.registro_fondo {
  background-image: url("../../public/assets/FondoRegistro.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registro {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.6);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
.auth-container  h1{
 margin-bottom: 1.6em;
 color: #323133;
}
.auth-form {
  width: 100%; 
}
.auth-form input {
  width: 91%;
  padding: 0.6rem 1rem; 
  margin-bottom: 1rem;
  border: 2px solid #f3e630;
  border-radius: 14px;
  font-size: 1rem;
  background-color: #f2f2f2;
  transition: 1.4s ease;
}
.auth-form input:hover {
  background-color: rgb(152, 164, 175);
  color: white;
  border: 2px solid rgb(235, 223, 44);
}
.auth-form input:focus {
  border-color: #f9f179;
  background-color: rgb(99, 117, 133);
  color: white;
  box-shadow: 0 0 8px rgba(99, 117, 133, 0.8);
  outline: none;
}
.auth-form input:hover::placeholder{
  color: rgb(216, 216, 216);
}
.auth-form input:focus::placeholder{
  color: rgb(238, 231, 231);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container button {
  width: 7em;
  margin-top: .6em;
  padding: 0.75rem;
  background-color: #F1E932;
  border: none;
  border-radius: 1em;
  color: #323133;
  font-size: 1rem;
  cursor: pointer;
  transition: 1.4s ease;
  margin: 1em;
}
.container button:hover {
  background-color: #323133;
  color: white;
}
.auth-form .login-link {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
}
.login-link button {
  background-color: transparent;
  color: #007bff;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  transition: 1s ease;
}
.login-link button:hover {
  color: #bf00ff;
}
.error-message{
  color: red;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul li {
  display: inline;
}

nav ul li button {
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1rem;
}

nav ul li button:hover {
  color: #0056b3;
}
.login_fondo {
  background-image: url("../../public/assets/FondoLogin.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.6);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 